@import "tailwindcss";

:root {
  --background: #f3eee7;
  --foreground: #171717;
}

@theme inline {
  --color-background: #f4eee5;
  --color-paper: #e8dfd2;
  --color-olive: #5e6b4a;
  --color-sage: #a8b39e;
  --color-terracotta: #b86f52;
  --color-text: #2f2a26;

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-playfair: var(--font-playfair);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #f3eee7;
    --foreground: #171717;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-geist-sans), sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-playfair), serif;
  font-weight: 600;
}